<html>

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="layout.css">
    <script src="xuly.js"></script>
</head>

<body>
    <div>
        <div id="loginform">
            <h3>What is your name?</h3>
            <input type="text" name="txtUserName" id="txtUserName">
            <input type="button" value="login" id="btnLogin">
        </div>
        <div id="chatform">
            <div id="currentUser">
                    <div id="textUser">User Online</div>
                    <div id='dsUser'>
                            q
                    </div>
            </div>
            <div id="messageBox">
                <div id="boxHello">Hello <span id="loginUser"></span><input type="button" id="btnLogout" value="Logout"></div>

                <div id="boxMessage"></div>
                <div id="msg-input">
                    <input type="text" name="" id="textInput">
                    <input type="button" id="btnSend" value="send">
                </div>
            </div>
        </div>
    </div>
</body>

</html>